
@import url('https://fonts.googleapis.com/css?family=Righteous&display=swap&subset=latin-ext');
@import url('https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,700i,900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800,800i&display=swap');
/* keleton ---------------------------------------------------------------------*/ */

* {
     box-sizing: border-box !important;
}

html {
     scroll-behavior: smooth;
}



a {
     color: #1f1f1f;
     text-decoration: none !important;
     outline: none !important;
     -webkit-transition: all .3s ease-in-out;
     -moz-transition: all .3s ease-in-out;
     -ms-transition: all .3s ease-in-out;
     -o-transition: all .3s ease-in-out;
     transition: all .3s ease-in-out;
}

h1,
h2,
h3,
h4,
h5,
h6 {
     letter-spacing: 0;
     font-weight: normal;
     position: relative;
     padding: 0 0 10px 0;
     font-weight: normal;
     line-height: normal;
     color: #111111;
     margin: 0
}

h1 {
     font-size: 24px;
}

h2 {
     font-size: 18px;
}

h3 {
     font-size: 18px;
}

h4 {
     font-size: 16px
}

h5 {
     font-size: 14px
}

h6 {
     font-size: 13px
}

*,
*::after,
*::before {
     -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
     box-sizing: border-box;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
     color: #212121;
     text-decoration: none!important;
     opacity: 1
}

button:focus {
     outline: none;
}

ul,
li,
ol {
     margin: 0px;
     padding: 0px;
     list-style: none;
}

p {
     margin: 0px;
     font-weight: 500;
     font-size: 15px;
     line-height: 24px;
}

a {
     color: #222222;
     text-decoration: none;
     outline: none !important;
}

a,
.btn {
     text-decoration: none !important;
     outline: none !important;
     -webkit-transition: all .3s ease-in-out;
     -moz-transition: all .3s ease-in-out;
     -ms-transition: all .3s ease-in-out;
     -o-transition: all .3s ease-in-out;
     transition: all .3s ease-in-out;
}

img {
     max-width: 100%;
     height: auto;
}

 :focus {
     outline: 0;
}

.btn-custom {
     margin-top: 20px;
     background-color: transparent !important;
     border: 2px solid #ddd;
     padding: 12px 40px;
     font-size: 16px;
}

.lead {
     font-size: 18px;
     line-height: 30px;
     color: #767676;
     margin: 0;
     padding: 0;
}

.form-control:focus {
     border-color: #ffffff !important;
     box-shadow: 0 0 0 .2rem rgba(255, 255, 255, .25);
}

.navbar-form input {
     border: none !important;
}

.badge {
     font-weight: 500;
}

blockquote {
     margin: 20px 0 20px;
     padding: 30px;
}

button {
     border: 0;
     margin: 0;
     padding: 0;
     cursor: pointer;
}

.full {
     float: left;
     width: 100%;
}

.full {
     width: 100%;
     float: left;
     margin: 0;
     padding: 0;
}





/*-- header area --*/

.header {
     width: 100%;
     background: #fff;
}

.header_top {
     background-color: #ecf3fc;
     padding: 10px 0;
}

ul.conta_icon li a img {
     padding-right: 7px;
}

ul.social_icon {
     display: flex;
     justify-content: center;
     flex-wrap: wrap;
}

ul.social_icon li {
     height: 30px;
     color: #fff;
     display: flex;
     flex-wrap: wrap;
     align-items: center;
     padding-right: 5px;
}

ul.social_icon li:last-child {
     padding-right: 0px;
}

ul.social_icon li a {
     color: #fff;
     width: 30px;
     height: 30px;
     background-color: #183661;
     float: left;
     text-align: center;
     line-height: 31px;
     border-radius: 100%;
     font-size: 17px;
}

ul.social_icon li a:hover {
     background: #f2c119;
     color: #fff;
}

.select-box {
     cursor: pointer;
     position: relative;
     width: 90px;
}

.select,
.label {
     color: #677691;
     display: block;
     font-size: 12px;
}

.select {
     width: 100%;
     position: absolute;
     top: 0;
     padding: 5px 0;
     opacity: 0;
     /* -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; */
     background: none transparent;
     border: 0 none;
}

.select-box1 {
     background: #ecf3fc;
     border: #677691 solid 1px;
     border-radius: 30px;
}

.label {
     position: relative;
     padding: 0px 23px 0px 9px;
     cursor: pointer;
     margin-bottom: 0;
}

.open .label::after {
     content: "▲";
}

.label::after {
     content: "▼";
     font-size: 12px;
     position: absolute;
     right: -18px;
     top: 0;
     padding: 0px 24px;
}

.se_fonr1 {
     justify-content: flex-end;
     display: flex;
     flex-wrap: wrap;
}

.time_o {
     padding-left: 15px;
     color: #0d1015;
     font-size: 14px;
}

.header_midil {
     padding: 22px 0;
}

.logo {
     text-align: center;
     display: block;
}

ul.conta_icon li a i {
     padding-right: 5px;
}

ul.conta_icon li a {
     color: #202020;
     font-size: 17px;
}

ul.conta_icon li a:hover {
     color: #183661;
     text-decoration: underline !important;
}

ul.right_icon {
     display: flex;
     justify-content: flex-end;
     flex-wrap: wrap;
}

ul.right_icon li img {
     margin-right: 30px;
}

.order {
     padding-top: 2px;
     float: right;
     max-width: 120px;
     font-size: 14px !important;
     color: #fff !important;
     height: 28px;
     width: 100%;
     background-color: #183661;
     display: block;
     text-align: center;
     border-radius: 40px;
}

.order:hover {
     background-color: #f2c119;
}


/*--   navigation--*/

.header_bottom {
     background-color: #183661;
}

.navigation.navbar {
     float: left;
     padding: 0;
}

.navigation.navbar-dark .navbar-nav .nav-link {
     padding: 30px 24px;
     color: #ffffff;
     font-size: 17px;
     line-height: 20px;
     font-weight: 400;
     text-transform: uppercase;
}

.navigation.navbar-dark .navbar-nav .nav-link:focus,
.navigation.navbar-dark .navbar-nav .nav-link:hover {
     background-color: #f2c119;
}

.navigation.navbar-dark .navbar-nav .active>.nav-link,
.navigation.navbar-dark .navbar-nav .nav-link.active,
.navigation.navbar-dark .navbar-nav .nav-link.show,
.navigation.navbar-dark .navbar-nav .show>.nav-link {
     background-color: #f2c119;
}

.navbar-expand-md .navbar-nav {
     padding-right: 10px;
}

.search {
     padding: 24px 0;
     text-align: right;
}

.form_sea {
     border-radius: 20px;
     border: #fff solid 1px;
     padding: 0px 15px;
     color: #000;
     height: 32px;
     position: relative;
     width: 100%;
}

.seach_icon {
     position: absolute;
     margin-left: -25px;
     z-index: 999;
     background: transparent;
     padding: 3px 0px 0px 0px;
     color: #b7b7b7;
}


/*-- marker-end sidebar  navigation--*/


/** banner section **/

.banner_main {
     background: url(../../public/images/banner-bg.png);
     padding: 97px 0px 0px 0px;
     /* background-size: 100% 100%; */
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
     min-height: 698px;
}
@media only screen and (max-width: 575px) {
    .logo{
     margin-left: 38%;
    }
   }



.blodark {
     color: #183661;
     font-family: 'Righteous', cursive;
     font-size: 85px;
}

.text-bg {
     text-align: left;
}

.ban_img {
margin-right: -45px;
position: absolute;
}

.text-bg h1 {
    color: #fff5d5;
    font-size: 116px;
    line-height: 125px;
    padding-bottom: 50px;
    font-family: 'Akronim';
    font-weight: 500;
}

.text-bg p {
    color: #183661;
     line-height: 30px;
     font-size: 50px;
     font-weight: 500;
     margin-bottom: 50px;
     font-family: 'Beau Rivage';
}

.text-bg .read_more {
     font-weight: 500;
     background: #183661;
     color: #fff !important;
     border-radius: 43px;
     margin-right: 25px;
     padding: 13px 0;
     max-width: 210px;
 }

.text-bg .read_more:hover {
     background: #fcc10e;
     color: #000 !important;
}

.ban_img figure {
     margin: 0;
}

.ban_img figure img {
     width: 100%;
}


/** end banner section **/

.titlepage h2 {
     font-size: 35px;
     color: #141414;
     line-height: 40px;
     font-weight: bold;
     padding: 0;
}

.titlepage h2 img {
     padding-right: 10px;
}
#cat{
     margin: auto;

}
#cat1{
     border-radius: 10px;
}

.col-md-2{
     margin: 1rem;
}    

.d_flex {
     display: flex;
     align-items: center;
     flex-wrap: wrap;
}

.read_more {
     font-size: 17px;
     background-color: #fff;
     color: #000;
     padding: 15px 0px;
     width: 100%;
     max-width: 170px;
     text-align: center;
     display: inline-block;
     transition: ease-in all 0.5s;
     font-weight: 500;
     border-radius: 50px;
     text-transform: uppercase;
}

.read_more:hover {
     background: #03cafc;
     color: #fff !important;
     transition: ease-in all 0.5s;
}


/** six_box section **/

.six_box {
     /* background: url(../../public/images/shoes.png); */
     background-size: 100% 100%;
     background-repeat: no-repeat;
}

.bluedark_bg {
     background: #183661;
}

.yellow_bg {
     background: #f2c119;
}

.six_box .six_probpx {
     text-align: center;
     padding: 50px 0;
}

.six_box .six_probpx i {
     display: block;
}
#flu{
     width: 100%;
     height: 100%;
}

.pa_left {
     padding-left: 0;
     padding-right: 0;
}

.six_box .six_probpx span {
     color: #fff;
     font-size: 17px;
     line-height: 32px;
     text-transform: uppercase;
     font-weight: bold;
}


/** end six_box section **/


/** project section **/



.project .titlepage {
     text-align: left;
}

.project .titlepage h2 {
     margin-bottom: 40px;
     padding-bottom: 10px;
     border-bottom: #f2c119 solid 5px;
}

.project .titlepage p {
     font-size: 17px;
     line-height: 30px;
     font-weight: 400;
     padding-top: 10px;
     color: #fff;
}

#nmc{
    
     height: 300px;
     max-height: 500px;
    width:auto ;
   
     border-radius: 20px;
     background-color: white;
  
}

#loader {
     background-image: url(../../public/images/loading.gif);
     height: 100%;
     width: 100%;
     position: absolute;
     left: 0;
     background-size: cover;
     top: 0;
     background-position: center;
     display: flex;
     background-repeat: no-repeat;
     justify-content: center;
     align-items: center;
}



#hedtest{
     text-align: center;
}
#tes{
padding-top: 0.5rem;
}
#ok:hover{
     -webkit-transform: scale(1);
     transform: scale(1);
     -webkit-transition: .3s ease-in-out;
     transition: .3s ease-in-out;
}


#klm{

 
     background-color: white;


text-align: center;
 
box-shadow: 5px 5px 10px ;  
}
#klm:hover{
     
        
          box-shadow: 10px 10px 20px ;
     border-radius: 2px;
     color:goldenrod;
     /* &:#ok{
          transition: 0.5s;
          transform: scale(1.05);
          
     } */
     
}
#imgc {
     background-position: center;
     background-size: cover;

     max-height: 300px;
     background-repeat: no-repeat;
     border-radius: 20px;
     padding-left: 1rem;
     padding-right: 1rem;
 }

.product_main {display:flex; flex-wrap: wrap; justify-content: center;

float: left;}
.project .project_box {
     text-align: center;

}

.dark_white_bg {
     background: #f2f2f2;
     height: 257px;
     display: flex;
     flex-wrap: wrap;
     align-items: center;
     justify-content: center;
}

.project .project_box h3 {
     color: #1c1c1b;
     font-size: 15px;
     line-height: 20px;
     padding: 22px 0px 0px 0px;
     text-align: left;
}

.project .read_more {
     margin-top: 50px !important;
     margin: 0 auto;
     display: block;
     text-transform: none;
     color: #fff;
     background: #183661;
     padding: 10px 0;
}

.project .read_more:hover {
     background-color: #f2c119;
}




.fashion img {
     width: 100%;
}



.news {
     background-color: #fff;
     padding-top: 90px;
}

.news .titlepage h2 {
     margin-bottom: 15px;
     padding-bottom: 10px;
     border-bottom: #f2c119 solid 5px;
}
.carousel .item .btn {
     color: goldenrod;
     border-radius: 0;
     font-size: 11px;
     text-transform: uppercase;
     font-weight: bold;
     background: none;
     border: 2px solid goldenrod;
     padding: 5px 10px;
     margin-top: 5px;
     line-height: 16px;
     border-radius: 9px;
 }

.margin_top40 {
     margin-top: 40px;
}

.news_img figure {
     margin: 0;
}

.news_img figure img {
     width: 100%;
}

.news_text h3 {
     color: #141414;
     font-size: 24px;
     font-weight: bold;
     padding-bottom: 10px;
}

.news_text span {
     border-bottom: #f2c119 solid 1px;
     padding-bottom: 4px;
     color: #141414;
     font-size: 15px;
}

.date_like {
     float: right;
}

.pad_le {
     padding-left: 15px;
}

.news_text p {
     color: #141414;
     font-size: 17px;
     line-height: 32px;
     font-weight: 400;
     padding-top: 15px;
}


.three_box {
     margin-bottom: -80px;
}

.gift_box {
     background-color: #fff;
     box-shadow: 0px 0px 16px rgba(13, 3, 3, 7%);
     text-align: center;
     padding: 40px 1px;
     border-radius: 20px;
}

.gift_box i {
     display: block;
}

.gift_box span {
     color: #183661;
     font-size: 17px;
     padding-top: 5px;
     display: block;
}




.footer {
     background: #183661;
     padding-top: 170px;
     text-align: center;
}

.footer h3 {
     color: #fff;
     font-size: 20px;
     line-height: 20px;
     text-transform: uppercase;
     text-align: left;
     padding-bottom: 20px;
     font-weight: 600;
}

.footer p {
     color: #fff;
     font-size: 17px;
     line-height: 32px;
     text-align: left;
     padding-right: 31px;
     font-weight: 400;
     display: inline-block;
}

.copyright {
     margin-top: 80px;
     padding-bottom: 20px;
     background: #fbfdfd;
}

.copyright p {
     color: #292929;
     font-size: 18px;
     line-height: 22px;
     text-align: center;
     padding-top: 25px;
     font-weight: normal;
     padding-right: 0 !important;
}

.copyright a {
     color: #292929;
}

.copyright a:hover {
     color: #f9bf16;
}


/** end footer **/


/** inner page css **/

.footer_to90 .footer {
     padding-top: 90px;
}

.blue_bg {
     background-color: #f3a20d;
     padding: 35px 0;
}

.blue_bg .titlepage {
     text-align: center;
}


/** about page **/

.about_page .blue_bg .titlepage h2 {
     color: #fff;
}

.about {
     background-color: #fff;
     padding: 60px 0 50px 0;
}

.about_text h3 {
     font-size: 30px;
     margin-top: 20px;
     line-height: 30px;
     font-weight: 600;
     color: #183661;
     padding: 0;
}

.about_text p {
     color: #000;
     font-size: 17px;
     line-height: 30px;
     padding: 25px 0 40px 0;
}

.about_text .read_more {
     background: #183661;
     color: #fff;
     padding: 10px 0;
}

.about_text .read_more:hover {
     background: #f2c119;
}


/** about page **/

.project_page .blue_bg .titlepage h2 {
     color: #fff;
}

.news_page .blue_bg .titlepage h2 {
     color: #fff;
}

.news_page .news {
     padding: 50px 0 90px 0;
}

.fashion_page .blue_bg .titlepage h2 {
     color: #fff;
}

.fashion_page .fashion {
     margin: 90px 0;
}
#itemn{
     color: orange;
     text-shadow: #000;
     font-size: 22px;
   text-align: inherit;
}


/** contact page **/

.contact_page .blue_bg .titlepage h2 {
     color: #fff;
}

.contact_page .contact {
     margin-bottom: 90px;
}

.contact {
     margin-top: 90px;
     background: #fff;
}

.contact .titlepage {
     text-align: left;
     padding-bottom: 60px;
}

.contact .titlepage h2 {
     color: #fefeff;
}
#log{
    height: 100px;
    width: 100px;
    border-radius: 50px;
}
#bac{
    background-color: rgba(220, 220, 220, 0.711);
}

.main_form .contactus {
     border: #183661 solid 1px;
     padding: 0 15px;
     margin-bottom: 20px;
     width: 100%;
     height: 46px;
     background: transparent;
     color: #183661;
     font-size: 17px;
     font-weight: normal;
     padding: 0 15px;
     box-shadow: 0 0 5px rgba(243, 195, 30, 0.5);
}

.main_form .contactusmess {
     border: #183661 solid 1px;
     padding: 0 15px;
     margin-bottom: 0;
     width: 100%;
     padding-top: 52px;
     padding-bottom: 52px;
      background: transparent;
     color: #183661;
     font-size: 17px;
     font-weight: normal;
     box-shadow: 0 0 5px rgba(243, 195, 30, 0.5);
}

.send_btn {
     background: #183661;
     font-weight: 500;
     font-size: 18px;
     width: 185px;
     color: #fff;
     height: 56px;
     margin-top: 50px;
     transition: ease-in all 0.5s;
     border-radius: 40px;
}

.send_btn:hover {
     background: #f2c119;
     transition: ease-in all 0.5s;
}

#request *::placeholder {
     color: #183661;
     opacity: 1;
}


/** end contact section **/
/** contact page **/
#electronic{
     background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSrxRaz8eKhptE8IaL3A_eUWvNpIZ6NdQ6LbFnefdxsJFudnUmM00gtHfmFVEoIN5uWEU0&usqp=CAU);
     border-radius: 12px;

     background-size: cover;
     background-repeat: no-repeat;
    
     box-shadow: 10px 10px 20px ; 
color: goldenrod;
}
#el{
     background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQUyAdqZTG2pFpUg3JrwIs-OYy5KnJtp2VZtg&usqp=CAU);
     
     background-size: cover;
     background-repeat: no-repeat; 
     box-shadow: 10px 10px 20px ; 
     color: goldenrod;
     border-radius: 12px;
}
#je{
     background-image: url(https://www.murujewellery.com/images/prosperity-success-ancient-coin-necklace-gold-p88-10974_image.jpg);
     
     background-size: cover;
     background-repeat: no-repeat;
     box-shadow: 10px 10px 20px ; 
     color: goldenrod;
     border-radius: 12px;
}
#la{
     background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT6yjpDO2VUGbVHVY5TTYi1EtmL-KZekk94wihV3OxoUTLWbbXJjJ-fU1Ypr3JYtbEzguc&usqp=CAU);
     
     background-size: cover;
     background-repeat: no-repeat;
     box-shadow: 10px 10px 20px ; 
     color: goldenrod;
     border-radius: 12px;
}
#electronic:hover{
     color: red;
     z-index: 0.2;
     transform: scale(1.2);
     transition: 0.5s;
     box-shadow: 10px 10px 20px ;
     

}
#la:hover{ z-index: 0.2;
     transform: scale(1.2);
   
     transition: 0.5s;
     box-shadow: 10px 10px 20px ; 
color: red;
}#je:hover{ z-index: 0.2;
     transform: scale(1.2);
     box-shadow: 10px 10px 20px ;
     transition: 0.5s;
color: red;
}
#el:hover{ z-index: -1;
     /* font-size:50px; */
     transition: 0.5s;
     transform: scale(1.2);
     box-shadow: 10px 10px 20px ;

color: red;
}
/* ******************************************************************************************* */
#ites {
     position: relative;
     display: flex;
    align-items: center;
     flex-wrap: wrap;
       font-family: 'Poppins', sans-serif;
     justify-content: space-between;
     width: 900px;
     height: 600px;
     background: #fff;
margin: auto;
margin-top: 4%;
 }
 
 #ites .imgBx {
     position: relative;
     display: flex;
     justify-content: center;
     align-items: center;
     width: 50%;
     height: 100%;
     background:white;
     transition: .3s linear;
 }
 
 #ites .imgBx:before {
    
     position: absolute;
     top: 0px;
     left: 24px;
     color: #000;
     opacity: 0.2;
     font-size: 8em;
     font-weight: 800;
 }
 
 #ites  .imgBx img {
     position: relative;
     width: 80%;
     transform: rotate(-15deg);
     left: -50px;
     transition: .9s linear;
 }
 #ites  .details {
     display: flex;
     justify-content: center;
     align-items: center;
     width: 50%;
     height: 100%;
     box-sizing: border-box;
     padding: 40px;
 }
 
 #ites .details h2{
     margin: 0;
     padding: 0;
     font-size: 2.4em;
     line-height: 1em;
     color: #444;
 }
 #ites  .details h2 span {
     font-size: 0.4em;
     text-transform: uppercase;
     letter-spacing: 2px;
     color: #999;
 }
 #ites  .details p {
     max-width: 85%;
     margin-left: 15%;
     color: #333;
     font-size: 15px;
     margin-bottom: 36px;
 }
 #ites .details h3 {
     margin: 0;
     padding: 0;
     font-size: 2.5em;
     color: #a2a2a2;
     float: left;
 }

 
 .product-colors span {
     width: 26px;
     height: 26px;
     top: 7px;
     margin-right: 12px;
     left: 10px;
     border-radius: 50%;
     position: relative;
     cursor: pointer;
     display: inline-block;
 }
 
 .black {
     background: #000;
 }
 
 .red {
     background: #D5212E;
 }

 
 .orange {
     background: #F18557;
 }
 
 .product-colors .active:after{
     content: "";
     width: 36px;
     height: 36px;
     border: 2px solid #000;
     position: absolute;
     border-radius: 50%;
     box-sizing: border-box;
     left: -5px;
     top: -5px;
 }
 
 /* responsive */
 @media (max-width: 1080px) {
     #ites {
         height: auto;
         margin: auto;
     }
     #ites  .imgBx {
         padding: 40px;
         box-sizing: border-box;
         width: 80% !important;
         height: auto;
         text-align: center;
         overflow: hidden;
     }
     #ites .imgBx img {
         left: initial;
         max-width: 100%;
         transform: rotate(0deg);
     }
     .details {
         width: 100% !important;
         height: auto;
         padding: 20px;
     }
     #ites .details p {
         margin-left: 0;
         max-width: 100%;
     }
 }
 /* ********************************************** */
 .table>tbody>tr>td, .table>tfoot>tr>td{
     vertical-align: middle;
 }
 @media screen and (max-width: 850px) {
     table#cart tbody td .form-control{
           width:10%;
           display: inline !important;
      }
      .actions .btn{
           width:36%;
           margin:1.5em 0;
      }
      
      .actions .btn-info{
           float:left;
      }
      .actions .btn-danger{
           float:right;
      }
      .img-responsive{
          max-width: 37%;
          height: auto;
      }
      
      table#cart thead { display: none; }
      table#cart tbody td { display: block; padding: .6rem; min-width:320px;}
      table#cart tbody tr td:first-child {  color: rgb(51, 48, 48); }
      table#cart tbody td:before {
           content: attr(data-th); font-weight: bold;
           display: inline-block; width: 8rem;
      }
      
      
      
      table#cart tfoot td{display:block; }
      table#cart tfoot td .btn{display:block;}
      
 }
/* ***************************************************Login Page************************************ */

#cartcont{
     width: 90%;
     height: auto;
     margin: auto;
}

a {
	cursor: pointer;
  transition: all 200ms linear;
}
a:hover {
	text-decoration: none;
}
.link {
  color: #c4c3ca;
}
.link:hover {
  color: #ffeba7;
}
p {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.7;
}
h4 {
  font-weight: 600;
}
h6 span{
  padding: 0 20px;
  text-transform: uppercase;
  font-weight: 700;
}
.section{
  position: relative;
  width: 100%;
  display: block;
}
.full-height{
  min-height: 100vh;
}
[type="checkbox"]:checked,
[type="checkbox"]:not(:checked){
  position: absolute;
  left: -9999px;
}
.checkbox:checked + label,
.checkbox:not(:checked) + label{
  position: relative;
  display: block;
  text-align: center;
  width: 60px;
  height: 16px;
  border-radius: 8px;
  padding: 0;
  margin: 10px auto;
  cursor: pointer;
  background-color: #ffeba7;
}
.checkbox:checked + label:before,
.checkbox:not(:checked) + label:before{
  position: absolute;
  display: block;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  color: #ffeba7;
  background-color: #102770;
  font-family: 'unicons';
  content: '\eb4f';
  z-index: 20;
  top: -10px;
  left: -10px;
  line-height: 36px;
  text-align: center;
  font-size: 24px;
  transition: all 0.5s ease;
}
.checkbox:checked + label:before {
  transform: translateX(44px) rotate(-270deg);
}


.card-3d-wrap {
  position: relative;
  width: 440px;
  max-width: 100%;
  height: 400px;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  perspective: 800px;
  margin-top: 60px;
}
.card-3d-wrapper {
  width: 100%;
  height: 100%;
  position:absolute;    
  top: 0;
  left: 0;  
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  transition: all 600ms ease-out; 
}
.card-front, .card-back {
  width: 100%;
  height: 100%;
  background-color: #2a2b38;
  background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/1462889/pat.svg');
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: 300%;
  position: absolute;
  border-radius: 6px;
  left: 0;
  top: 0;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
}
.card-back {
  transform: rotateY(180deg);
}
.checkbox:checked ~ .card-3d-wrap .card-3d-wrapper {
  transform: rotateY(180deg);
}
.center-wrap{
  position: absolute;
  width: 100%;
  padding: 0 35px;
  top: 50%;
  left: 0;
  transform: translate3d(0, -50%, 35px) perspective(100px);
  z-index: 20;
  display: block;
}


.form-group{ 
  position: relative;
  display: block;
    margin: 0;
    padding: 0;
}
.form-style {
  padding: 13px 20px;
  padding-left: 55px;
  height: 48px;
  width: 100%;
  font-weight: 500;
  border-radius: 4px;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0.5px;
  outline: none;
  color: #c4c3ca;
  background-color: #1f2029;
  border: none;
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
  box-shadow: 0 4px 8px 0 rgba(21,21,21,.2);
}
.form-style:focus,
.form-style:active {
  border: none;
  outline: none;
  box-shadow: 0 4px 8px 0 rgba(21,21,21,.2);
}
.input-icon {
  position: absolute;
  top: 0;
  left: 18px;
  height: 48px;
  font-size: 24px;
  line-height: 48px;
  text-align: left;
  color: #ffeba7;
  -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
}

.form-group input:-ms-input-placeholder  {
  color: #c4c3ca;
  opacity: 0.7;
  -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
}
.form-group input::-moz-placeholder  {
  color: #c4c3ca;
  opacity: 0.7;
  -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
}
.form-group input:-moz-placeholder  {
  color: #c4c3ca;
  opacity: 0.7;
  -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
}
.form-group input::-webkit-input-placeholder  {
  color: #c4c3ca;
  opacity: 0.7;
  -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
}
.form-group input:focus:-ms-input-placeholder  {
  opacity: 0;
  -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
}
.form-group input:focus::-moz-placeholder  {
  opacity: 0;
  -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
}
.form-group input:focus:-moz-placeholder  {
  opacity: 0;
  -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
}
.form-group input:focus::-webkit-input-placeholder  {
  opacity: 0;
  -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
}

#btn-10{  
  border-radius: 4px;
  height: 44px;
  font-size: 13px;
  font-weight: 600;
  width: 83%;
  text-transform: uppercase;
  -webkit-transition : all 200ms linear;
  transition: all 200ms linear;
  padding: 0 30px;
  letter-spacing: 1px;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
  text-align: center;
  border: none;
  background-color: #ffeba7;
  color: #102770;
  box-shadow: 0 8px 24px 0 rgba(255,235,167,.2);
}
.btn:active,
.btn:focus{  
  background-color: #102770;
  color: #ffeba7;
  box-shadow: 0 8px 24px 0 rgba(16,39,112,.2);
}
.btn:hover{  
  background-color: #102770;
  color: #ffeba7;
  box-shadow: 0 8px 24px 0 rgba(16,39,112,.2);
}








/* ************************************************************************************************************ */

h2 {
    color: #000;
    font-size: 33px;
    padding-top: 47px;
    font-weight: 300;
    text-align: center;
    text-transform: uppercase;
    position: relative;
    margin: 30px 0 80px;
}
h2 b {
	color: #ffc000;
}
h2::after {
     content: "";
     width: 19%;
     position: absolute;
     margin: 0 auto;
     height: 4px;
     background: rgb(255 192 82 / 58%);
     left: 0;
     right: 0;
     bottom: -8px;
 }
#sap{
     margin-top:2rem;
}

.carousel .item {
	min-height: 330px;
    text-align: center;
	overflow: hidden;
}
.carousel .item .img-box {
	height: 160px;
	width: 100%;
	position: relative;
}
.carousel .item img {	
	max-width: 100%;
	max-height: 100%;
	display: inline-block;
	position: absolute;
	bottom: 0;
	margin: 0 auto;
	left: 0;
	right: 0;
}
.carousel .item h4 {
	font-size: 18px;
	margin: 10px 0;
}

.carousel .item .btn:hover, .carousel .item .btn:focus {
	color: #fff;
	background: goldenrod;
	border-color: white;
	box-shadow: none;
}
.carousel .item .btn i {
	font-size: 14px;
    font-weight: bold;
    margin-left: 5px;
}
.carousel .thumb-wrapper {
	text-align: center;
}
.carousel .thumb-content {
	padding: 15px;
}
.carousel .carousel-control {
	height: 100px;
    width: 40px;
    background: none;
    margin: auto 0;
    background: rgba(0, 0, 0, 0.2);
}
#crt{
     color: white;
     font-weight: 700;
     width: 35%;

     height: 3rem;
     background-color: goldenrod;
     border-radius: 16px;
     font-family: "Rubik";

     border: 3px solid white;
     margin-left: 2rem;
     margin-top: 0.5rem;

}
#crt:hover{
     background-color: rgb(18, 123, 18);
}
.carousel .carousel-control i {
    font-size: 30px;
    position: absolute;
    top: 50%;
    display: inline-block;
    margin: -16px 0 0 0;
    z-index: 5;
    left: 0;
    right: 0;
    color: rgba(0, 0, 0, 0.8);
    text-shadow: none;
    font-weight: bold;
}
.carousel .item-price {
	font-size: 13px;
	padding: 2px 0;
}
.carousel .item-price strike {
	color: #999;
	margin-right: 5px;
}
.carousel .item-price span {
	color: #86bd57;
	font-size: 110%;
}
.carousel .carousel-control.left i {
	margin-left: -3px;
}
.carousel .carousel-control.left i {
	margin-right: -3px;
}
.carousel .carousel-indicators {
	bottom: -50px;
}
.carousel-indicators li, .carousel-indicators li.active {
	width: 10px;
	height: 10px;
	margin: 4px;
	border-radius: 50%;
	border-color: transparent;
}
.carousel-indicators li {	
	background: rgba(0, 0, 0, 0.2);
}
.carousel-indicators li.active {	
	background: rgba(0, 0, 0, 0.6);
}
.star-rating li {
	padding: 0;
}
.star-rating i {
	font-size: 14px;
	color: #ffc000;
}
/* ****************************************************************** */
.gradient-custom {
     /* fallback for old browsers */
     background: #6a11cb;
     
     /* Chrome 10-25, Safari 5.1-6 */
     background: -webkit-linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1));
     
     /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
     background: linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1))
     }
     #CONT{
          height: auto;
          width: 100%;
          background: -webkit-linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1));
     }
  
     #loginmar{
       margin-top: -5rem;
     }

     .gradient-custom {
          /* fallback for old browsers */
          background: #f6d365;
          
          /* Chrome 10-25, Safari 5.1-6 */
          background: -webkit-linear-gradient(to right bottom, rgba(246, 211, 101, 1), rgba(253, 160, 133, 1));
          
          /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
          background: linear-gradient(to right bottom, rgba(246, 211, 101, 1), rgba(253, 160, 133, 1))
          }

          #profile{
               margin-top: 1rem;
          }

          .fa-2x {
               font-size: 1em;
           }
           .text-white-50 {
               color: rgb(37 32 32 / 61%)!important;
           }
           .mb-0, .my-0 {
               margin-bottom: 0!important;
               color: #363131;
           }
           .py-5 {
               padding-top: 3rem!important;
           }
           #id-up {
               margin-top: -4rem;
           }
           .img-fluid {
border-radius:50%;
height: 80px;
width: 80px;
           }